h1
{
    font-size: 60px;
}
h3
{
    font-size: 100px;
}
h1
{
    font-family: "Impact";
}
.familiaTexto
{
    font-family: "Ink Free";
    font-size: 25px;
    color: #9335D1;
    text-align: justify;
}
.bodyprincipal
{
    background-color: bisque;
}
.bodysecundario
{
    background-color: cadetblue;
}
.headerprincipal
{
    background-color: green;
}
.headersecundario
{
    background-color: blue;
}